body {
    font-family: 'Lora', serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4b0082; /* Purple */
    color: white;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}
main{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.product img {
    width: 100%;
}

button {
    background-color: #ff0000; /* Red */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #cc0000;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
